
@model BugTracker.Models.SelectUserViewModel

@Html.HiddenFor (model => model.Id)
<tr>
    <td style="text-align:center">
        @Html.CheckBoxFor(model => model.Selected)
    </td>
    <td>
        @Html.DisplayFor(model => model.Name)
    </td>
</tr>

