@{
    ViewBag.Title = "About";
}
<div style="color:#ff0000">
    <h2>@ViewBag.Title</h2>
</div>

<h3>BugTracker Application</h3>

<p>BugTracker is a simple, effective issue tracker to help you keep on top of bugs, 
ideas and requests through every phase of your project. You can prioritize issues, 
assign due dates, correspond and share files directly, all with nothing to install -- 
all you need is a browser and an Internet connection.</p>
    
<h3>Website design by Chris Zepkowski.  Email: cmzepkowski@gmail.com</h3>
